.heading-primary {
  font-size: 10rem;
  font-weight: 700;

  &--medium {
    font-size: 8rem;
  }

  &--small {
    font-size: 5rem;
  }
}
.heading-secondary {
  font-size: 5rem;
  font-weight: 600;

  &--medium {
    font-size: 4rem;
  }

  &--small {
    font-size: 3rem;
  }
}
.heading-tertiary {
  font-size: 3rem;
  font-weight: 600;

  &--medium {
    font-size: 2rem;
  }

  &--small {
    font-size: 1.8rem;
  }
}

.paragraph-primary {
  font-size: 2rem;
  font-weight: 400;

  &--bold {
    font-weight: 700;
  }
}

.paragraph-secondary {
  font-size: 1.8rem;
}
