$primary-color: #30308b;
$primary-color-light: #424287;
$color-grey-light: #e2e2e9;
$color-grey-dark: #d3d3de;

$color-white: white;
$color-grey: #e3e3e3;

// breakpoints
$bp-largest: 67.5em; //1080px
$bp-large: 48em; //768px
$bp-medium: 34.375em; //550px
