// @base
@import "./base/variables";
@import "./base/base";
@import "./base/typography";

// @components
@import "./components/btn";
@import "./components/filternav";
@import "./components/form";
@import "./components/navigation";
@import "./components/sidebar";
@import "./components/sidenavigation";
@import "./components/task";
@import "./components/usernavigation";

// @layout
@import "./layout/dashboard";
@import "./layout/login";
@import "./layout/register";
@import "./layout/taskdashboard";
