// @base
@import "./base/variables";
@import "./base/base";
@import "./base/typography";

// @components
@import "./components/btn";
@import "./components/filternav";
@import "./components/floatingaAnchor";
@import "./components/form";
@import "./components/navigation";
@import "./components/sidebar";
@import "./components/sidenavigation";
@import "./components/singletask";
@import "./components/task";

// @layout
@import "./layout/addtask";
@import "./layout/dashboard";
@import "./layout/edittask";
@import "./layout/login";
@import "./layout/register";
@import "./layout/taskdashboard";
