.btn {
  &,
  &:link,
  &:visited {
    padding: 1rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: inherit;
    border: none;
    background-color: $primary-color;
    color: $color-white;
    border-radius: 5px;
    cursor: pointer;

    @media only screen and (max-width: $bp-medium) {
      padding: 0.5rem 2rem;
      font-size: 1.5rem;
    }
  }

  &--secondary {
    padding: 0.5rem 2rem;
    font-size: 1.8rem;
    background-color: transparent;
    border: 2.4px solid $primary-color;
    color: $primary-color;
    transition: all 0.4s ease-in-out;

    @media only screen and (max-width: $bp-medium) {
      padding: 0.3rem 1.2rem;
      font-size: 1.5rem;
    }

    &:hover {
      background-color: $primary-color;
      color: $color-white;
    }
  }

  &--danger {
    background-color: $color-danger;

    color: $color-white;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: rgba($color-danger, 0.8);
    }
  }
}
