.filternav {
  width: 100%;
  height: 10vh;
  background-color: $color-grey-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  position: fixed;
  top: 10vh;
  z-index: 10;

  &__search {
    width: 50%;
    display: flex;
    align-items: center;

    &__input {
      margin-right: 1rem;
      width: 60%;
      padding: 1rem;
      font-size: 1.5rem;
      border-radius: 0.5rem;
      border: none;
      font-family: inherit;
    }
  }

  &__sort {
  }
}
