.floatinganchor {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 2rem;

  @media only screen and (max-width: $bp-large) {
    font-size: 1.7rem;
    top: 1.5rem;
    left: 1.5rem;
  }
  @media only screen and (max-width: $bp-medium) {
    font-size: 1.5rem;
    top: 1rem;
    left: 1rem;
  }
}
