.form {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideIn 0.5s ease-in-out;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
    height: 100%;
    padding: 4rem;
  }

  &__heading {
    margin-bottom: 5rem;
    font-size: 6rem;

    &--custom {
      margin-top: 18rem;

      @media only screen and (max-width: $bp-medium) {
        margin-top: 15rem;
      }
    }

    @media only screen and (max-width: $bp-largest) {
      font-size: 5rem;
    }
    @media only screen and (max-width: $bp-large) {
      font-size: 4rem;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 3rem;
    }
  }

  &__div {
    display: flex;
    flex-direction: column;

    &--date-picker {
      margin-bottom: 2rem;
    }
  }

  &__label {
    font-size: 1.8rem;
    font-weight: 600;
    color: $color-grey-dark1;

    &--wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__input {
    background-color: $color-grey-light;
    border: none;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    padding: 1rem;
    font-family: inherit;

    &__status,
    &__label,
    &__priority {
      width: 100%;
      font-family: inherit;
    }

    &__deadline-clean {
      font-size: 1.5rem;
      cursor: pointer;
      color: $color-danger;
      &::selection {
        color: $color-grey-dark1;
      }
    }
  }

  &__btn--wrapper {
    margin-bottom: 1rem;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  }

  &__textarea {
    border-radius: 5px;
  }
  &__toolbar {
    background-color: $color-white;
    border-radius: 5px;

    div {
      border: none;
    }
  }
  &__editor {
    background-color: $color-white;
    border-radius: 5px;
    border: 1px solid $color-white;
  }

  &__date-picker {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: $color-grey;
    margin-bottom: 2rem;
    font-family: inherit !important;
  }
}
