.form {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
    height: 100%;
    padding: 4rem;
  }

  &__heading {
    margin-bottom: 5rem;
    font-size: 6rem;
  }

  &__div {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__input {
    background-color: $color-grey;
    border: none;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    padding: 1rem;
    font-family: inherit;
  }

  &__btn--wrapper {
    margin-bottom: 1rem;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__textarea {
    height: 120px;
  }

  &__date-picker {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: $color-grey;
    margin-bottom: 2rem;
    font-family: inherit !important;
  }
}
