.notfound {
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  color: $color-white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  &__link {
    &__link {
      color: $color-white;
      font-size: 3rem;
      text-decoration: none;
    }
  }
}
