.sidenavigation {
  top: 20vh;
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: $primary-color;
  color: $color-white;
  // transform: translateX(-100%);
  transition: all 0.4s ease-in-out;

  @media only screen and (max-width: $bp-large) {
    width: 35%;
  }

  @media only screen and (max-width: $bp-medium) {
    transition: all 0.1s ease-in-out;
    top: 25vh;

    width: 100%;
  }

  &__navigation-off {
    width: 0;
  }

  &__content {
    &__navigation-off {
      visibility: none;
      opacity: 0;
      pointer-events: none;
    }
  }

  // navigation

  &__ul {
    width: 100%;

    list-style: none;
  }

  &__li {
    background-color: $color-grey-dark;
    color: black;
    &--wrapper {
      padding: 1rem;
    }
  }

  &__drop {
    width: 100%;

    &__title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
    }

    &__ul {
      width: 100%;
      background-color: $color-grey-light;
      color: black;
      list-style: none;
      display: none;

      &--active {
        display: block;
      }
    }

    &__li {
      width: 100%;
      padding: 2rem;
      background-color: $color-grey-light;
      border: 1px solid black;

      &--active {
        background-color: $primary-color;
        color: $color-white;
      }
    }
  }
}
