.sidenavigation {
  top: 20vh;
  position: fixed;
  width: 20%;
  height: 100%;
  background-color: $primary-color;
  color: $color-white;
  // transform: translateX(-100%);
  transition: all 0.4s ease-in-out;

  &__navigation-off {
    width: 0;
  }

  &__content {
    transition: all 0.4s ease-in-out;

    &__navigation-off {
      visibility: none;
      opacity: 0;
      pointer-events: none;
    }
  }
}
