.sidenavigation {
  position: absolute;
  width: 350px;
  height: 100%;
  background-color: $primary-color;
  color: $color-white;
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;

  &__slide-in {
    transform: translateX(0);
  }
}
