.singletask {
  width: 100%;
  min-height: 100vh;

  padding-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  &__wrapper {
    background-color: $color-grey-dark;
    padding: 2rem;
    border-radius: 5px;
    width: 80%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:5rem;

    & > * {
      margin-bottom: 2rem;
    }
  }

  &__task-info {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    &__div {
      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__time {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    &__due_date {
      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__value {
    font-weight: 400;
    font-size: 1.7rem;
  }

  &__cta-btns--1{
    position: absolute;
    top:12rem !important;
    right:2rem !important;
  }

  &__cta-btns {
    position: absolute;
    top: -4rem;
    right: 1rem;

    @media only screen and (max-width:$bp-medium){
      top:-6rem;
    }

    &__edit {
      margin-right: 1rem;
    }
  }
}
