.singletask {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  &__wrapper {
    width: 80%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & > * {
      margin-bottom: 2rem;
    }
  }

  &__task-info {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    &__div {
      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__time {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    &__due_date {
      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__value {
    font-weight: 400;
    font-size: 1.7rem;
  }

  &__cta-btns {
    position: absolute;
    top: 2rem;
    right: 2rem;

    &__edit {
      margin-right: 1rem;
    }
  }
}
