.userpopup {
  width: 400px;
  height: 400px;
  background-color: $primary-color;
  position: fixed;
  top: 10.3vh;
  right: .3rem;
  z-index: 20;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  color:$color-white;
  display: none;

  &__details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width:$bp-medium){
      font-size:1.4rem;
    }

    &__avatar {
      width: 10rem;
      height: 10rem;
      background-color: $color-grey;
      border-radius: 10rem;
      margin-bottom: 3rem;
    }
  }

  &__on{
      display: flex;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 200px;
    height: 400px;
  }
}
