.login {
  width: 100%;
  height: 100vh;
  display: flex;

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
  }

  &__sidebar {
    width: 30%;
    height: 100%;
    animation: slideIn .5s ease-in-out;

    @media only screen and (max-width: $bp-large) {
      width: 100%;
      height: 10%;
    }
  }

  &__form {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
      width: 100%;
      height: 90%;
    }
  }
}
