.register {
  width: 100%;
  height: 100vh;
  display: flex;

  &__sidebar {
    width: 30%;
    height: 100%;
  }

  &__form {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
