.taskdashboard {
  width: 100%;
  // height: 80vh;
  position: relative;

  &__header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  &__task{
    padding:2rem;
  }
}
